<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Edit</title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    <h1>here are your edits</h1>
        <form action="/blvd/<%= oneUser._id %>?_method=PUT" method="POST">
        <label for="userName"> Username:</label>
        <input type="text" name="userName" value="<%= oneUser.userName %>">
        <br>
        <label for="name"> Name:</label>
        <input type="text" name="name" value="<%= oneUser.name %>">
        <br>
        <label for="category"> Category:</label>
        <input type="text" name="category" value="<%= oneUser.category %>">
        <br>
        <label for="location"> Location:</label>
        <input type="text" name="location" value="<%= oneUser.location %>">
        <br>
        <img src="<%= oneUser.profileImage %> " alt="Profile Picture">
        <br>
        <label for="profileImage"> Profile Image: </label>
        <input type="text" name="profileImage" value="<%= oneUser.profileImage %>">
        <br>
        <label for="about"> About Me: </label>
        <input type="text" name="about" value="<%= oneUser.about %>">
        <br>
        <h2 class="add-pics">Add some pictures!</h2>
        <label for="image1"> Image link: </label>
        <input type="text" name="image1" value="<%= oneUser.image1  %> ">
        <br>
        <label for="image2"> Image link: </label>
        <input type="text" name="image2" value="<%= oneUser.image2  %>">
        <br>
        <label for="image3"> Image link: </label>
        <input type="text" name="image3" value="<%= oneUser.image3  %>">
        <br>
        <input type="submit" value="Edit <%= oneUser.name %>  ">
    </form>
</body>
</html>