<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= oneUser.userName  %></title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    
    <strong>
        <h1><%= oneUser.userName  %> </h1>
    </strong>



    
    <div class="img-container">
        <img src="<%= oneUser.profileImage %> " alt="Profile Picture">
    </div>

    <section class="title">
        <h4><%= oneUser.location  %> </h4>
        <strong>
            <h2><%= oneUser.name  %> </h2>
        </strong>
        <h3><%= oneUser.category  %> </h3>
    </section>
    <container class="container">
    
        <!-- <section class="pic">
            <strong>Section 1 "Profile Pic"</strong>
        </section> -->


        <section class="about">
            <p><%= oneUser.about %> </p>    
        </section>

        <section class="media">
            <strong>Section 4 "Media links"</strong>
            <p><%= oneUser.media %> </p>    
        </section>
            

    </container>
    
</body>
</html>