<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= oneUser.userName  %></title>
</head>
<body>
    <%- include('./partials/navbar')  %> 
    
    <strong>
        <h1><%= oneUser.userName  %> </h1>
    </strong>



    
    <div class="img-container">
        <img class="profile-pic" src="<%= oneUser.profileImage %> " alt="Profile Picture">
    </div>

    <section class="title">
        <h4><%= oneUser.location  %> </h4>
        <strong>
            <h2><%= oneUser.name  %> </h2>
        </strong>
        <h3><%= oneUser.category  %> </h3>
    </section>
    <container class="container">
    
        <!-- <section class="pic">
            <strong>Section 1 "Profile Pic"</strong>
        </section> -->


        <section class="about">
            <p><%= oneUser.about %> </p>    
        </section>

        <section class="media">
            <strong>"Media links"</strong>
            <p><%= oneUser.media %> </p>    
        </section>
            
       <section class="gallery">
           <img class="img-gallery" src="<%= oneUser.image1 %> " alt="image 1">
           <img class="img-gallery" src="<%= oneUser.image2 %> " alt="image 2">
           <img class="img-gallery" src="<%= oneUser.image3 %> " alt="image 3">
       </section>

    </container>
    
    <a href="/blvd/<%= oneUser._id  %>/edit ">Edit this user </a>
</body>
</html>